* {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.structure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.main {
  width: 82vw;
  margin-top: 3rem;
  background-color: #807f73;
  border-radius: 0.8rem;
  overflow: scroll;
}

.section-header {
  width: 100%;
  height: 10%;
  background-color: #807f73;
  padding: 0.8rem 1rem;
}

.section-body {
  background-color: #808080;
  padding: 50px;
  margin: 50px;
  border-radius: 20px;
}

.section-body:-webkit-scrollbar {
  display: none;
}

table {
  padding: 1rem;
  width: 100%;
  border-collapse: collapse;
  border-radius: 3rem;
}

.table-scrollable {
  overflow: auto;
  max-height: 500px;
}
